{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="{% static 'staff.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user.css' %}">
  </head>

  <body>
    <div class="header">
      <h1>Pet Clinic</h1>
    </div>

    <div class="topnav">
      <a href="../createStaff">Create Staff Account</a>
      <a href="../" style="float:right">Logout</a>
    </div>

    <div class="row">
      <div class="column side"></div>
      <div class="column middle">
        <div class="card" style="text-align:center; max-height:100px; padding:20px" id="staff">
          <!-- show name Vet -->
          <h3>Asst. {{name}} {{surname}}</h3>
        </div>

        <div class="card" id="searching">
          <el-autocomplete
          class="inline-input"
          v-model="state2"
          :fetch-suggestions="querySearch"
          placeholder="Search User"
          :trigger-on-focus="false"
          @select="handleSelect"
          ></el-autocomplete>
        </div>
        <div class="card" id="newAccount">
          <el-button type="info" plain style="font-size:20px;" @click="dialogAccount = true">Create New Account</el-button>
          <el-dialog title="Edit Profile" :visible.sync="dialogAccount" style="text-align:left;">
            <el-form :model="form" label-width="25%" ref="form">
              <el-form-item label="First Name"
              prop="firstName"
              :rules="rules.alphaStr">
                <el-input v-model="form.firstName" maxlength="30" clearable></el-input>
              </el-form-item>
              <el-form-item label="Last Name"
              prop="lastName"
              :rules="rules.alphaStr">
                <el-input v-model="form.lastName" maxlength="30" clearable></el-input>
              </el-form-item>
              <el-form-item label="Tel"
              prop="tel"
              :rules="rules.telNo">
                <el-input v-model="form.tel" maxlength="10" clearable></el-input>
              </el-form-item>
              <el-form-item label="Email"
              prop="email"
              :rules="rules.emailAddr">
                <el-input v-model="form.email" clearable></el-input>
              </el-form-item>
              <el-form-item label="Username"
              prop="username"
              :rules="rules.username">
                <el-input v-model="form.username" maxlength="15" clearable></el-input>
              </el-form-item>
              <el-form-item label="Password"
              prop="password"
              :rules="rules.password">
                <el-input v-model="form.password" type="password" clearable></el-input>
              </el-form-item>
              <el-form-item label="Confirm Password"
              prop="cfPassword"
              :rules="rules.rePassword">
                <el-input v-model="form.cfPassword" type="password"clearable></el-input>
              </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
              <el-button type="info" plain @click="createAccount">Confirm</el-button>
              <el-button type="info" plain @click="discard">Cancel</el-button>
            </span>
          </el-dialog>
        </div>
      </div>
      <div class="column side"></div>
    </div>

  </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js" charset="utf-8"></script>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>
    <script>
      ELEMENT.locale(ELEMENT.lang.en)
    </script>
    <script src="{% static 'staffjs.js' %}" charset="utf-8"></script>

</html>
