{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- <META HTTP-EQUIV="Refresh" CONTENT="0;URL=http://www.petClinic.com"> -->
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="{% static 'user.css' %}">
  </head>

  <body>

    <div class="header">
      <h1>Pet Clinic</h1>
    </div>

    <div class="topnav">
      <!-- <a href="#">Link</a>
      <a href="#">Link</a>
      <a href="#">Link</a> -->
      <a href="../" style="float:right">Logout</a>
    </div>

    <div class="row">
      <div class="leftcolumn">
        <!-- Profile User Card -->
        <div class="cardd" id="userProfile">
          <!-- user information -->
          <h2>Profile</h2>
          <p>Name: [[name]] [[surname]]</p>
          <p>Tel: [[tel]]</p>
          <p>Email: [[email]]</p>
          <template>
            <el-button type="text" style="margin-left:75%; color:#797D7F;" @click="openDialog">Edit Profile</el-button>
          </template>
          <!-- pop-up for edit profile -->
          <el-dialog title="Edit Profile" :visible.sync="dialogFormVisible">
            <el-form :model="form" label-width="15%" ref="form">
              <el-form-item label="First Name" :rules="rules.name" prop="firstName">
                <el-input v-model="form.firstName" name="editFirstName" maxlength=30 clearable></el-input>
              </el-form-item>
              <el-form-item label="Last Name" :rules="rules.name" prop="lastName">
                <el-input v-model="form.lastName" name="editLastName" maxlength=30 clearable></el-input>
              </el-form-item>
              <el-form-item label="Tel" :rules="rules.telNo" prop="telNo">
                <el-input v-model="form.telNo" name="editTel" maxlength=10 clearable></el-input>
              </el-form-item>
              <el-form-item label="Email" :rules="rules.emailAddr" prop="emailAddr">
                <el-input v-model="form.emailAddr" name="editEmail" clearable></el-input>
              </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
              <el-button type="info" plain @click="changeProfile()">Confirm</el-button>
              <el-button type="info" plain @click="dialogFormVisible = false">Cancel</el-button>
            </span>
          </el-dialog>
        </div>

        <!-- Pet List Card -->
        <div class="cardd" id="petList">
          <h2>Pets</h2>
          <!-- loop show all pet in listPet -->
          <div v-for="list in listPet">
            <!-- watch each pet information, medical record and vaccine record -->
            <div class="petCard" style="height:80px;" @click="openPetDialog(list)">
              <!-- each pet information -->
              <el-row>
                <el-col :span="15">
                  Pet Name: [[list.petName]]<br>
                  Date of Birth: [[list.birthDate]]<br>
                  Breed: [[list.breed]]
                </el-col>
                <el-col :span="9">
                  Type: [[list.type]]<br>
                  Age: [[list.age]]<br>
                  Sickness: [[list.sick]]
                </el-col>
              </el-row>
            </div>
            <span>
              <!-- pop-up show selected pet information, medical record and vaccine record -->
              <el-dialog :visible.sync="petDialogVisible" width=70%>
                <hr><h2>Pet Information</h2>
                <el-row>
                  <el-col :span="11">
                    <p style="font-size:18px">
                      Pet Name: [[listPet[selectedIndex].petName]]<br><br>
                      Date of Birth: [[listPet[selectedIndex].birthDate]]<br><br>
                      Breed: [[listPet[selectedIndex].breed]]
                    </p>
                  </el-col>
                  <el-col :span="13">
                    <p style="font-size:18px">
                      Type: [[listPet[selectedIndex].type]]<br><br>
                      Age: [[listPet[selectedIndex].age]]<br><br>
                      Sickness: [[listPet[selectedIndex].sick]]
                      <!-- edit pet information button -->
                      <el-button type="info" plain style="float:right" @click="openEditForm()">Edit</el-button>
                    </p>
                  </el-col>
                </el-row><hr>
                <!-- edit button is pressed -->
                <div v-if="editPetInfo === true">
                  <!-- edit pet information form -->
                  <el-form :model="editPetForm" ref="editPetForm" label-width="15%">
                    <el-form-item label="Pet Name" label-width="36%" :rules ="rules.petName" prop="petName">
                      <el-input v-model="editPetForm.petName" maxlength=30 clearable></el-input>
                    </el-form-item>
                  </el-form>
                  <!-- delete pet from listPet !!!!Not Finish!!!!-->
                  <el-button type="info" plain style="float:left" @click="deletePet()">Delete</el-button>
                  <el-button type="info" plain style="float:right" @click="editPetInfo = false">Cancel</el-button>
                  <!-- save changes -->
                  <el-button type="info" plain style="float:right" @click="changePetInfo()">Save</el-button>
                  <br><br>
                </div>

                <div>
                  <!-- show medical record table -->
                  <div v-if="showMed === true">
                    <h2>Medical Record</h2>
                    <el-table :data="medicalRec" :default-sort = "{prop: 'date', order: 'descending'}" height=250 size="small">
                      <el-table-column property="date" label="Date" width="150"></el-table-column>
                      <el-table-column property="age" label="Age" width="100"></el-table-column>
                      <el-table-column property="symptom" label="Symptom" width="200"></el-table-column>
                      <el-table-column property="medicine" label="Medicine" width="200"></el-table-column>
                      <el-table-column property="notation" label="Notation" width="200"></el-table-column>
                      <el-table-column property="vet" label="Veterinarian" width="200"></el-table-column>
                    </el-table>
                  </div>
                  <!-- show vaccine record table -->
                  <div v-if="showVac === true">
                    <h2>Vaccine Record</h2>
                    <el-table :data="vaccineRec" :default-sort = "{prop: 'date', order: 'descending'}" height=250 size="small">
                      <el-table-column property="givenDate" label="Given Date" width="150"></el-table-column>
                      <el-table-column property="age" label="Age" width="100"></el-table-column>
                      <el-table-column property="immunization" label="Immunization" width="200"></el-table-column>
                      <el-table-column property="vaccine" label="Vaccine" width="200"></el-table-column>
                      <el-table-column property="dose" label="Dose" width="100"></el-table-column>
                      <el-table-column property="nextDue" label="Next Due" width="150"></el-table-column>
                      <el-table-column property="vet" label="Veterinarian" width="200"></el-table-column>
                    </el-table>
                  </div>
                </div>

                <!-- input email to send all information !!!!Not Finish!!!!-->
                <!--<span slot="footer" class="dialog-footer" style="float:middle">-->
                  <!--<el-form :model="editPetForm" label-width="40%">-->
                  <!--<el-row>-->
                    <!--<el-col :span="16">-->
                      <!--<el-form-item label="Send to Email:">-->
                        <!--<el-input></el-input>-->
                      <!--</el-form-item>-->
                    <!--</el-col>-->
                    <!--<el-col :span="4">-->
                      <!-- send button !!!!Not Finish!!!!-->
                      <!--<el-button type="info" plain>Send</el-button>-->
                    <!--</el-col>-->
                  <!--</el-row>-->
                <!--</span>-->
              </el-dialog>
            </span>
            <br>
          </div>
          <!-- show all pet information, medical record and vaccine record !!!!Not Finish!!!!-->
          <el-button type="text" style="margin-left:80%; color:#797D7F;" @click="allPetDialogVisible = true">Watch All</el-button>
          <el-dialog :visible.sync="allPetDialogVisible" width=70%>
            <div v-for="listt in listPet">
              <hr><h2>Pet Information</h2>
              <el-row>
                <el-col :span="11">
                  <p style="font-size:18px">
                    Pet Name: [[listt.petName]]<br><br>
                    Date of Birth: [[listt.birthDate]]<br><br>
                    Breed: [[listt.breed]]
                  </p>
                </el-col>
                <el-col :span="13">
                  <p style="font-size:18px">
                    Type: [[listt.type]]<br><br>
                    Age: [[listt.age]]<br><br>
                    Sickness: [[listt.sick]]
                    <!-- edit pet information button -->
                    <!-- <el-button type="info" plain style="float:right" @click="openEditForm()">Edit</el-button> -->
                  </p>
                </el-col>
              </el-row><hr>

              <div>
                <!-- show medical record table -->
                <div v-if="checkshowMed(listt)===true">
                  <h2>Medical Record</h2>
                  <el-table :data="medAll[listPet.indexOf(listt)]" :default-sort = "{prop: 'date', order: 'descending'}" height=250 size="small">
                    <el-table-column property="date" label="Date" width="150"></el-table-column>
                    <el-table-column property="age" label="Age" width="100"></el-table-column>
                    <el-table-column property="symptom" label="Symptom" width="200"></el-table-column>
                    <el-table-column property="medicine" label="Medicine" width="200"></el-table-column>
                    <el-table-column property="notation" label="Notation" width="200"></el-table-column>
                    <el-table-column property="vet" label="Veterinarian" width="200"></el-table-column>
                  </el-table>
                </div>
                <!-- show vaccine record table -->
                <div v-if="checkshowVac(listt)===true">
                  <h2>Vaccine Record</h2>
                  <el-table :data="vacAll[listPet.indexOf(listt)]" :default-sort = "{prop: 'date', order: 'descending'}" height=250 size="small">
                    <el-table-column property="givenDate" label="Given Date" width="150"></el-table-column>
                    <el-table-column property="age" label="Age" width="100"></el-table-column>
                    <el-table-column property="immunization" label="Immunization" width="200"></el-table-column>
                    <el-table-column property="vaccine" label="Vaccine" width="200"></el-table-column>
                    <el-table-column property="dose" label="Dose" width="100"></el-table-column>
                    <el-table-column property="nextDue" label="Next Due" width="150"></el-table-column>
                    <el-table-column property="vet" label="Veterinarian" width="200"></el-table-column>
                  </el-table>
                </div>
              </div>
            </div>

          </el-dialog>
        </div>
      </div>

      <div class="rightcolumn">
        <!-- Appointment Table Card -->
        <div class="cardd" id="appointment">
          <h2>Appointment</h2>
          <table style="width:100%">
            <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Pet</th>
            <th>Description</th>
          </tr>
          <tr v-for="alist in appointmentList">
            <td>[[alist.date]]</td>
            <td>[[alist.time]]</td>
            <td>[[alist.pet]]</td>
            <td>[[alist.description]]</td>
          </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js" charset="utf-8"></script>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>
    <script>
      ELEMENT.locale(ELEMENT.lang.en)
    </script>
    <!-- <script src="{% static 'userjs.js' %}" charset="utf-8"></script> -->
    <script>
    // Vue.config.delimiters["[[","]]"]

    new Vue({
      el:"#userProfile",
      data:{
        // user information
        pk:'{{pk}}',
        name:'{{name}}',
        surname:'{{surname}}',
        tel:'{{tel}}',
        email:'{{email}}',
        // show pop-up for edit profile
        dialogFormVisible:false,
        // form edit profile
        form: {
          firstName:'',
          lastName:'',
          telNo:'',
          emailAddr:''
        },
        rules: {
          name: [
            { required: true, message: 'Please Input Information', trigger: 'change' },
            { min: 3, max: 30, message: 'Length should be 3 to 30', trigger: 'change' },
            { pattern: '^[A-Za-z]+$', message: 'Input must be a Letters', trigger: 'change' }
          ],
          telNo: [
            { required: true, message: 'Please Input Telephone Number', trigger: 'change' },
            { min: 9, max: 10, message: 'Length should be 9 to 10', trigger: 'change' },
            { pattern: '^[0-9]+$', message: 'Input must be a Numbers', trigger: 'change' }
          ],
          emailAddr: [
            { required: true, message: 'Please Input Email', trigger: 'change' },
            { type:'email', message: 'Invalid Email', trigger: 'change' }
          ]
        }
      },
      methods:{
        openDialog() {
          console.log('{{listPet}}');
          // show pop-up
          this.dialogFormVisible = true;
          // set default value on input bar
          this.form.firstName = this.name;
          this.form.lastName = this.surname;
          this.form.telNo = this.tel;
          this.form.emailAddr = this.email;
        },
        changeProfile() {
          this.$refs.form.validate((valid) => {
            if (valid) {
              this.$message({
                message: 'Profile Changed',
                type: 'success',
                center: true
              });
              // save changes
              axios({
               method: 'post',
               url: 'editProfile/{{pk}}',
               data: {
                    'name':this.form.firstName,
                    'surname':this.form.lastName,
                    'tel':this.form.telNo,
                    'email':this.form.emailAddr,
               },
               xsrfCookieName: 'csrftoken',
               xsrfHeaderName: 'X-CSRFToken',
               headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/json //x-www-form-urlencoded; charset=UTF-8'},
               }).then(res => {
                 window.location.reload();
                       // window.location.href="../user/{{pk}}";
               });
              this.dialogFormVisible = false;
            } else {
              this.$message({
                message: 'Invalid Information',
                type: 'error',
                center: true
              });
            }
          });
          // this.dialogFormVisible = false;
          this.$refs.form.resetFields();
          // this.name = this.form.firstName;
          // this.surname = this.form.lastName;
          // this.tel = this.form.telNo;
          // this.email = this.form.emailAddr;
        }
      },
      delimiters: ['[[', ']]']
    });

    new Vue({
      el:"#petList",
      data:{
        // list of pet information
        // listPet:[
        //   { petName:'Memi',
        //     type:'Cat',
        //     birthDate:'20/10/2000',
        //     age:'18y1m',
        //     breed:'unknown',
        //     sick:'-' },
        //   { petName:'Huli',
        //     type:'Cat',
        //     age:'4y3m',
        //     birthDate:'5/8/2014',
        //     breed:'unknown',
        //     sick:'-' }
        // ],
        listPet:[],
        selectedIndex:0,
        // show pop-up for each pet information, medical record and vaccine record
        petDialogVisible:false,
        allPetDialogVisible:false,
        // show edit form
        editPetInfo:false,
        // form edit name, breed and date of birth of pet
        editPetForm:{
          petName:''
        },
        rules: {
          petName: [
            { required: true, message: 'Please Input Information', trigger: 'change' },
            { min: 3, max: 30, message: 'Length should be 3 to 30', trigger: 'change' },
            { pattern: '^[A-Za-z]+$', message: 'Input must be a Letters', trigger: 'change' }
          ]
        },
        // data which showed in medical record table
        medicalRec: [{
          date:'',
          age:'',
          symptom:'',
          medicine:'',
          notation:'',
          vet:''
        }],
        // data which showed in vaccine record table
        vaccineRec:[{
          givenDate:'',
          age:'',
          immunization:'',
          vaccine:'',
          dose:'',
          nextDue:'',
          vet:''
        }],
        showMed:false,
        showVac:false,
        medAll:[],
        vacAll:[]
      },
      methods:{
        openPetDialog(x) {
          // show pop-up
          this.petDialogVisible = true;
          this.editPetInfo = false;
          // x is obj to find which index of pet is selected
          this.selectedIndex = this.listPet.indexOf(x);
          this.getMedicalRecord(this.listPet[this.selectedIndex]);
        },
        openEditForm() {
          this.editPetInfo = !this.editPetInfo;
          this.editPetForm.petName = this.listPet[this.selectedIndex].petName;
        },
        deletePet() {
          console.log(this.selectedIndex,this.listPet[this.selectedIndex].petName);
          // this.listPet.pop(this.selectedIndex);
          // document.getElementById("petList").reload(true); // maybe work with front-back
          axios({
               method: 'post',
               url: 'delPet/',
               data: {
                    'pk':'{{pk}}',
                    'petName': this.listPet[this.selectedIndex].petName
               },
               xsrfCookieName: 'csrftoken',
               xsrfHeaderName: 'X-CSRFToken',
               headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/json //x-www-form-urlencoded; charset=UTF-8'},
               }).then(res => {
                 window.location.reload();
               });
          this.editPetInfo = false;
          this.petDialogVisible = false;
          // show meg
          this.$message({
            message: 'Pet Deleted',
            type: 'error',
            center: true
          });
        },
        changePetInfo() {
          this.$refs.editPetForm[0].validate((valid) => {
            if (valid) {
              // change information
              this.listPet[this.selectedIndex].petName = this.editPetForm.petName;
              // show meg
              this.$message({
                message: 'Change Saved',
                type: 'success',
                center: true
              });
            } else {
              this.$message({
                message: 'Invalid Information',
                type: 'error',
                center: true
              });
            }
          });
          // close edit form
          this.editPetInfo = false;
          // change information
          // this.listPet[this.selectedIndex].petName = this.editPetForm.petName;
        },
        getMedicalRecord(pet) {
          axios({
               method: 'post',
               url: 'medRecData/',
               data: {
                    'pk':'{{pk}}',
               },
               xsrfCookieName: 'csrftoken',
               xsrfHeaderName: 'X-CSRFToken',
               headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/json //x-www-form-urlencoded; charset=UTF-8'},
               }).then(res => {
                   // this.medicalRec = res.data[this.selectedIndex];
                   // console.log(res.data[this.selectedIndex].length);
                   this.medicalRec=[];
                   var i=0;
                   for (i;i<res.data[this.selectedIndex].length;i++) {
                     var obj ={
                       date:res.data[this.selectedIndex][i]['date'],
                       age:res.data[this.selectedIndex][i]['age'],
                       symptom:res.data[this.selectedIndex][i]['symptom'],
                       medicine:res.data[this.selectedIndex][i]['medicine'],
                       notation:res.data[this.selectedIndex][i]['notation'],
                       vet:res.data[this.selectedIndex][i]['vet']
                     }
                     // console.log(i,res.data[this.selectedIndex][i]['date']);
                     // console.log(obj);
                     this.medicalRec.push(obj);
                   }
                   if (this.medicalRec.length===0) this.showMed = false;
                   else this.showMed = true;
               });

           axios({
                method: 'post',
                url: 'vacRecData/',
                data: {
                     'pk':'{{pk}}',
                },
                xsrfCookieName: 'csrftoken',
                xsrfHeaderName: 'X-CSRFToken',
                headers: {
                         'X-Requested-With': 'XMLHttpRequest',
                         'Content-Type': 'application/json //x-www-form-urlencoded; charset=UTF-8'},
                }).then(res => {
                  this.vaccineRec=[];
                  var i=0;
                  for (i;i<res.data[this.selectedIndex].length;i++) {
                    var obj ={
                      givenDate:res.data[this.selectedIndex][i]['givenDate'],
                      age:res.data[this.selectedIndex][i]['age'],
                      immunization:res.data[this.selectedIndex][i]['immunization'],
                      vaccine:res.data[this.selectedIndex][i]['vaccine'],
                      dose:res.data[this.selectedIndex][i]['dose'],
                      nextDue:res.data[this.selectedIndex][i]['nextDue'],
                      vet:res.data[this.selectedIndex][i]['vet']
                    }
                    // console.log(i,res.data[this.selectedIndex][i]['date']);
                    // console.log(obj);
                    this.vaccineRec.push(obj);
                  }
                  if (this.vaccineRec.length===0) this.showVac = false;
                  else this.showVac = true;
                });
        },
        checkshowMed(pet){
          // console.log(this.medAll[this.listPet.indexOf(pet)].length);
          if (this.medAll[this.listPet.indexOf(pet)].length===0) return false;
          else return true;
        },
        checkshowVac(pet){
          // console.log(this.vacAll[this.listPet.indexOf(pet)].length);
          if (this.vacAll[this.listPet.indexOf(pet)].length===0) return false;
          else return true;
        }
      },
      beforeMount: function () {
        axios({
          method: 'get',
          url: 'userData/{{pk}}',
        }).then(res => {
          this.listPet = res.data;
        });

        axios({
             method: 'post',
             url: 'medRecData/',
             data: {
                  'pk':'{{pk}}',
             },
             xsrfCookieName: 'csrftoken',
             xsrfHeaderName: 'X-CSRFToken',
             headers: {
                      'X-Requested-With': 'XMLHttpRequest',
                      'Content-Type': 'application/json //x-www-form-urlencoded; charset=UTF-8'},
             }).then(res => {
               this.medAll = res.data;
             });

       axios({
            method: 'post',
            url: 'vacRecData/',
            data: {
                 'pk':'{{pk}}',
            },
            xsrfCookieName: 'csrftoken',
            xsrfHeaderName: 'X-CSRFToken',
            headers: {
                     'X-Requested-With': 'XMLHttpRequest',
                     'Content-Type': 'application/json //x-www-form-urlencoded; charset=UTF-8'},
            }).then(res => {
              this.vacAll = res.data;
            });
      },

      delimiters: ['[[', ']]']
    });

    new Vue({
      el:"#appointment",
      // data which showed in appointment table
      data:{
        appointmentList:[],
      },
      beforeMount: function () {
        axios({
          method: 'get',
          url: 'appData/{{pk}}',
        }).then(res => {
          this.appointmentList = res.data;
        });
      },
      delimiters: ['[[', ']]']
    });

    // send ogj
    // var myObj = {
    //     building: this.customer[this.selectedIndex].building,
    //     room: this.customer[this.selectedIndex].room,
    //     firstname: this.customer[this.selectedIndex].customerFirst.firstname,
    //     lastname: this.customer[this.selectedIndex].customerFirst.lastname,
    //     tel: this.customer[this.selectedIndex].customerFirst.tel,
    //     id: this.customer[this.selectedIndex].customerFirst.id
    //   };
    //   console.log(myObj);
    //    axios.post('/yay', myObj).then(res => {
    //      console.log(res.data)
    //    });

    // receive
    // axios.get('/yay').then(res => {
    //       console.log(res.data)
    //       this.customer=res.data
    //     })
    </script>


</html>
